.container {
    display: grid;
    /* grid-template-columns: 100px 100px minmax(70px, 350px) 200px; */
    /* grid-template-columns: 100px 100px auto 200px; */
    /* auto tum sayfaya sigdirir  */
    /* min max media querry gibi kullanilabilir. */
    /* grid-template-columns: 1fr 1fr 3fr 2fr; */
    grid-template-columns: repeat(2, 1fr) 1fr repeat(2, 2fr);
    /* grid-template-rows: 100px 300px 100px 100px; */
    /* grid-template-rows: repeat(3, 1fr) 500px; */
    grid-template-rows: 100px 300px 100px 100px;
    /* Gap Ozellikleri */
    column-gap: 20px;
    row-gap: 10px;
    /* Shortand */
    gap: 30px 10px;
}

.content {
    background-color: coral;
    border: 2px solid black;
    /* box-shadow: 2px 2px 2px gray;
    border-radius: 10px; */
}


/* .wrapper {
    display: grid;
    justify-content: center;
} */